.place__website__url-heading{
  color: #aaa;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2.0px;
  margin: 0;
  font-weight: 400;
  grid-column: 1;
  grid-row: 1;
}

@media screen and (max-width: 465px) {
  .place__website__url-heading {
    line-height: 14px;
  }
}
