.places{
/*   display: grid; */
  padding: 92px 0;
  width: calc(100% - 148px*2);
  margin: 0 auto;
}

@media screen and (max-width:1024px) {
  .places{
    width: calc(100% - 48px*2);
  }
}

@media screen and (max-width:768px) {
  .places{
    width: calc(100% - 24px*2);
    padding: 88px 0 90px 0;
  }
}

@media screen and (max-width:465px) {
  .places{
    width: 100%;
    padding: 64px 0 66px 0;
  }
}


