.place__website_link{
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  font-weight: 400;
  transition: .5s;
  grid-row: 2;
  grid-column: 1;
  max-width: min-content;
}

.place__website_link:hover {
opacity: .8;
transition: .5s ease-in-out;
}
