.footer__link {
  display: grid;
  list-style-type: none;
  gap: 18px;
  grid-template-columns: repeat(5, min-content);
  margin: 0;
  padding: 0;
  transition: .5s;
}

.footer__link:hover {
opacity: .8;
transition: .5s ease-in-out;
}

@media screen and (max-width: 465px) {
  .footer__link {
  display: flex;
  flex-direction: column;
  gap: 32px;
  }
}
