.place__paragraph {
  /*   width: 100%; */
  font-size: 18px;
  line-height: 29px;
  margin: 0;
  font-weight: 400;
}

@media screen and (max-width: 465px) {
  .place__paragraph {
    white-space: normal;
  }
}
