.intro__text{
  font-size: 16px;
  line-height: 25.6px;
  margin: 0;
  font-weight: 400;
  padding-bottom: 33px;
  grid-column: 1;
  grid-row: 2;
  max-width: 690px;
}

@media screen and (max-width:465px) {
  .intro__text{
    line-height: 26px;
  }
}

