.cover__overlay {
  display: flex;
  flex-direction: column;
  position: relative;
  text-decoration: none;
  color: #fff;
  text-align: center;
  margin: 0;
  gap: 32px;
  align-items: center;
  justify-content: center;
  min-height: 740px;

}



@media screen and (max-width: 1024px) {
  .cover__overlay {
    min-height: 56.5vw;
  }
}

@media screen and (max-width: 768px) {
  .cover__overlay {
    min-height: 54.5vw;
  }
}

@media screen and (max-width: 465px) {
  .cover__overlay {
    min-height: 62.5vw;
    gap: 16px;
  }
}
