.cover__overlay{
  display: flex;
  position: relative;
  text-decoration: none;
  color: #fff;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 245px 0;
}

.cover__overlay:hover{
  background-color: rgba(0,0,0,1);
/*   opacity: 0.5; */
  z-index: -1;
  transition: opacity 0.5s linear;
}
/* .cover__overlay:before{
  background-color: rgba(0,0,0,1);
  opacity: 0.5;
  z-index: -1;
  transition: opacity 200ms ease-in-out;
} */
