.lead__caption{
  text-transform: uppercase;
  font-size: 10px;
  line-height: 14px;
  text-align: left;
  letter-spacing: 1.4px;
  margin: 0;
  padding-top: 8px;
}

@media screen and (max-width:768px) {
  .lead__caption{
  padding-left: 24px;
  }
}

@media screen and (max-width:465px) {
  .lead__caption{
  /* padding-left: 16px; /при таком отступе получается не по макету/*/
  padding-left: 16px;
  }
}
