.place {

  display: grid;
  margin: 0;
  padding: 0;
  row-gap: 80px;
}

@media screen and (max-width: 768px) {
  .place {
    /* row-gap: 73px; */ /* все съезжает */
    row-gap: 63px;
  }
}

@media screen and (max-width: 465px) {
  .place {
    /* row-gap: 50px; */ /* все съезжает */
    row-gap: 26px;
  }
}
